
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            width: 100%;
            font-family: sans-serif;
        }
        .circleIMG {
            width: 70%;
            height: 70%;
            border: 10px solid red;
            padding: 20px;
            border-radius: 50%;
        }



        /* PREDEFINE CSS */
        .heding {
            font-size: 70px;
        }
        .smallHeading {
            font-size: 25px;
        }
        .paragraph {
            font-size: 10px;
        }
        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .flex1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .column {
            flex-direction: column;
        }
        .margin {
            margin: 50px 0;
        }
        .margin1 {
            margin-top: 80px;
            margin-bottom: 50px;
        }
        .margin2 {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .box {
            width: 30%;
        }
        .btn {
            background-color: red;
            border-radius: 5px;
            border: none;
            outline: none;
            font-weight: bold;
            font-size: 15px;
            color: #fff;
            padding: 10px 20px;
            margin-bottom: 70px;
        }
        .banner{
            color: #fff;
            background-image: url("./assets/Banner Image.png");
            background-size: contain;
            width: 80%;
            height: 706px;
            background-repeat:no-repeat;
            margin: 30px 10px;
        }
        .banner2{
                color: #fff;
                background-image: url("./assets/Vectorrr.png");
                background-size: contain;
                width: 80%;
                height: 706px;
                background-repeat:no-repeat;
                margin: 50px 10px;
                padding-top: 200px;
        }
